
.slide {
    width: 100%;
    max-width: 1066px;
    margin: 24px;
    position: relative;
    z-index: 0;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.left {
    left: 0;
}
.right {
    right: 0;
    transform: scaleX(-1);
}
.cardContainer {
    width: 100%;
    overflow: hidden;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    text-align: center;
    width: 74%;
    margin: auto;
    min-height: 330px;
    cursor: grab;
}
.card:active {
    cursor: grabbing;
}
.quote {
    font-style: italic;
    font-size: var(--h2);
}
.author {
    font-size: var(--h3);
}