.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 0px 40px;
}
.link {
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.socials {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-block: 8px;
}
.socials > a {
    opacity: 0.6
}
.socials > a:hover {
    opacity: 1
}
.icon {
    width: 38px;
    height: 38px;
}

@media(max-width: 1024px) {
    .footer {
        /* gap: 20px; */
    }
    .socials > a {
        opacity: 1
    }
    .link {
        text-decoration: underline;
    }
    .icon {
        width: 32px;
        height: 32px;
    }
}
@media(max-width: 744px) {
    .footer {
        gap: 20px;
    }
    .icon {
        width: 28px;
        height: 28px;
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}
.footnote {
    font-size: 15px;
    margin: auto;
    text-wrap: balance;
}
.divider {
    width: 100vw;
    height: 2px;
    background-color: #000000;
    margin-top: 12px;
    margin-bottom: 4px;
}
@media(max-width: 1024px) {
    .footnote {
        font-size: var(--step--1);
    }
}
@media(max-width: 430px) {
    .footer {
        padding: 0px 30px;
    }
    .footnote {
        font-size: 12px;
        /* text-align: left; */
        /* text-wrap: balance; */
    }
    .icon {
        width: 26px;
        height: 26px;
    }
}
