.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    margin-block: 64px;
}
.mainContainer {
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
}
.line {
    height: 3px;
    width: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin:auto;
}
.frame {
    position: relative;
    margin: 24px;
    z-index: 2;
    width: 70%;
    max-width: 835px;
    aspect-ratio: 835 / 481;
    padding: 0px 145px;
    background-color: #ffffff;
    gap: 20px;
    border-radius: 10px;
    border: #000000 solid 3px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.quote {
    font-style: italic;
    font-size: var(--h2);
}
.mainQuote {
    text-align: left;
    font-size: var(--h3);
}
.mainAuthor {
    font-size: 22px;
}

.slide {
    width: 100%;
    max-width: 1066px;
    margin: 24px;
    position: relative;
    z-index: 0;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.left {
    left: 0;
}
.right {
    right: 0;
    transform: scaleX(-1);
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    text-align: center;
    width: 74%;
    margin: auto;
}
.author {
    font-size: var(--h3);
}