/*  FLUID RESPONSIVENESS: 744 -> 1440px*/

.calculators {
    width: 100%;
    height: 100%;
    max-height: calc(738px + 48px + 4px);
    max-width: var(--max-width-content);
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: clamp(0.5625rem, -0.8405rem + 3.0172vw, 1.875rem); /* 9 -> 30px */
}

.calculatorButton {
    /* aspect-ratio: 395 / 738; */
    width: 33%;
    max-width: 395px;
    /* padding: 36 -> 80px  24 -> 48px*/
    padding: clamp(2.25rem, -0.6897rem + 6.3218vw, 5rem) clamp(1.5rem, -0.1034rem + 3.4483vw, 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.875rem, -0.8621rem + 3.7356vw, 2.5rem); /* 14 -> 36px*/
    margin: 2px;
    transition: all 250ms ease-in-out;
}
.calculatorButton:hover {
    /* transform: scale(1.025) translateY(-1.5%); */
    transform: translateY(-2.5%);
    /* transform: scale(1.025); */
}

.deforestation {
    background-color: var(--darkgreen);
    background-image: url('/assets/fundo_desmatamento.png');
}
.mining {
    background-color: var(--darkgold);
    background-image: url('/assets/fundo_mineração.png');
}
.indigenous {
    background-color: var(--darkred);
    background-image: url('/assets/fundo_indígena.png');
}
.deforestation:hover,
.indigenous:hover,
.mining:hover{
    background-image: none;
}
.indigenousIcon{
    width: 58.25%;
}
.miningIcon {
    width: 45.45%;
}
.deforestationIcon {
    width: 55.89%;
}
.circle {
    aspect-ratio: 1;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px clamp(0.3125rem, -0.3556rem + 1.4368vw, 0.9375rem); /* 5-> 15px*/
    gap: 4px;
    color: #ffffff;
    text-align: left;
}
/* responsive fluido 1440 -> 744
    font-size
        title: 30 -> 22
        desc: 22 -> 14
*/
.title {
    font-size: clamp(1.375rem, 0.8405rem + 1.1494vw, 1.875rem);
    text-transform: capitalize;
}
.description {
    font-size:  clamp(0.875rem, 0.3405rem + 1.1494vw, 1.375rem);
}