.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  background-image: url('/assets/fundo.png');
  background-size: 3730px 2798px;
  background-position: center top;
}
.hero {
  width: 100%;
  height: calc(100vh - 132px); /* tela - altura do navbar */
  display: flex;
  justify-content: center;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: #000000;
}

