.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 80px;
    background-color: var(--darkgray);
    color: #ffffff;
}

.languageSelector {
    font-size: 17px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo {
    width: 64px;
    height: 64px;
}

@media (max-width: 1024px) {
    .navbar{
        padding: 22px 64px;
    }
    .logo{
        width: 56px;
        height: 56px;
    }
}
@media (max-width: 744px) {
    .navbar{
        padding: 18px 40px;
    }
    .logo{
        width: 48px;
        height: 48px;
    }
}