.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--max-width-content);
    gap: 32px;
    padding: clamp(2.625rem, 1.7733rem + 3.3074vw, 4.75rem) 0px;
}
.title {
    padding: 8px;
    background-color: #ECA054;
    color: #182F58;
    font-size: var(--step-1);
    text-transform: uppercase;
    width: fit-content;
}
@media(min-width: 600px) {
    .title {
        font-size: var(--step-2);
    }
}
.headingContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
    padding: 0px 40px;
    /* padding: 0px clamp(3.75rem, 3.249rem + 1.9455vw, 5rem);  */
    /*(screen: 412 -> 1440px): 60 -> 80px */
}
.heading {
    width: 100%;
    font-size: var(--step-9);
    line-height: 1.2;
    color: #2F2F2F;
    text-wrap: balance;
    margin-top: clamp(0.5rem, -0.0511rem + 2.1401vw, 1.875rem); /*(screen: 412 -> 1440px) 8 -> 30px */
}

.subHeading {
    font-size: var(--step-1-5);
    line-height: 1.5;
    white-space: normal;
    text-wrap: pretty;
    letter-spacing: .08em;
}
.subHeading.marginLeft {
    margin-left: 10px;
}

.fontSizePT_1 {
    font-size: inherit;
}
.letterSpaceES_1,
.letterSpaceES_2 {
    letter-spacing: -.05em;
}
.letterSpaceES_3 {
    letter-spacing: normal;
}
.letterSpaceES_4 {
    letter-spacing: normal;
}
.letterSpacePT_1,
.letterSpacePT_4 {
    letter-spacing: .02em;
}
.letterSpacePT_2,
.letterSpacePT_3 {
    letter-spacing: normal;
}




@media(max-width: 1024px) {
    .letterSpaceES_1,
    .letterSpaceES_2 {
        letter-spacing: -.1ch;
    }
    .letterSpaceES_3,
    .letterSpaceES_4 {
        letter-spacing: -.02em;
    }

    .letterSpacePT_1 {
        letter-spacing: normal;
    }
}

@media(max-width: 890px) {
    .headingContainer.translation {
        padding: 0 2.5rem 0 clamp(2.625rem, 1.6553rem + 3.7657vw, 3.75rem);
    }
    .subHeading {
        max-width: 40ch;
    }
}
@media(max-width: 760px ) {
    .headingContainer{
        padding: 0px 60px;
    }
}


@media (max-width:680px) {
    .heading {
        line-height: 80px;
    }
    .subHeading {
        max-width: 37ch;
    }
    .translation {
        font-size: clamp(3.9375rem, 3.0728rem + 3.3582vw, 4.5rem);
    }
    .letterSpaceES_1{
        font-size: calc(0.945*1em);
    }
    .letterSpaceES_1,
    .letterSpaceES_4 {
        letter-spacing: -.105em;
    }
    .letterSpaceES_2,
    .letterSpaceES_3 {
        letter-spacing: -.09em;
    }

}


@media(max-width: 640px) {
    .headingContainer {
        align-items: start;
        text-align: left;
    }
    .subHeading.english {
        max-width: 29ch;
    }
}

@media(max-width: 530px) {
    .subHeading {
        white-space: normal;
        /* text-wrap:wrap; */
    }
    .letterSpacePT_1,
    .letterSpacePT_2,
    .letterSpacePT_4 {
        letter-spacing: -.07em;
    }
    .letterSpacePT_3 {
        letter-spacing: -.05em;
    }
}
@media(max-width: 456px) {
    /* .translation {
        font-size: var(--step-6);
    } */

    .heading {
        font-size: 70px;
    }
    .subHeading {
        font-size: 20px;
    }
    .fontSizePT_1 {
        font-size: 60px;
    }
}
@media(max-width: 411px) {
    .headingContainer {
        padding: 0 42px;
        padding-right: 1em;
    }
    .headingContainer.translation {
        padding: 0 24px;
        padding-right: 16px;
    }
    .subHeading {
        max-width: 29ch;
    }
}
.heading.translation {
    cursor: auto;
}
@media (max-width: 376px) {
    .headingContainer {
        padding-left: 32px;
    }
    .translation{
        font-size: 52px;
    }
    .heading.translation{
        line-height: 60px;
    }
    .subHeading{
        font-size: 19px;
    }
    .subHeading.translation {
        font-size: 18px;
        max-width: 28ch;
    }
    .title {
        font-size: 15px;
    }
}
@media(max-width: 331px) {
    .heading {
        font-size: 64px;
    }
    .subHeading {
        font-size: 17px;
    }
    .letterSpacePT_2,
    .letterSpacePT_4 {
        letter-spacing: -0.095em;
    }
}
/* titulos acima*/
/* imagens abaixo*/

.displayContainer {
    width: 100%;
    overflow: hidden;
    padding-block: 60px;
    padding-bottom: 200px;
}
@media(max-width: 1200px) {
    .displayContainer {
        padding-bottom: clamp(5.625rem, -1.5132rem + 15.3509vw, 10rem);
    }
}
.display {
    width: 78%;
    display: flex;
    align-items: flex-end;
    transform: translateX(12%);
}
.phoneDisplay {
    aspect-ratio: 1;
    width: 41%;
    position: relative;
    z-index: 0;
    flex-grow: 0;
    align-self: flex-start;
}

.circleTablet,
.circlePhone {
    border-radius: 50%;
    border: #020202 solid 3px;
    background-color: rgba(216, 207, 199, 0.2);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}
.phoneImg {
    width: 54%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    transform: translateY(10%);
    object-fit: contain;
}
/* .tableDisplayContainer  */
.tabletDisplay {
    aspect-ratio: 1;
    width: 59%;
    position: relative;
    z-index: 0;
    transform: translateY(22%);
}

.tabletImg {
    position: absolute;
    left: 3%;
    bottom: 2.5%;
    height: 86%;
    width: auto;
    z-index: 2;
}

@media(max-width: 744px) {
    .displayContainer {
        padding-block: 30px;
    }
    .display {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        transform: translateX(0);
        gap: 24px;
    }
    .tabletDisplay {
        transform: translateY(0);
        width: 72%;
    }
    .phoneDisplay {
        width: 70%;
        transform: translateX(-6%);
    }
}
@media(max-width: 430px) {
    .displayContainer{
        padding-top: 0
    }
}